// styles.scss
@import 'variables';
@import 'text/neon';

body {
  background: url('../img/stone-bricks-grey.jpg');
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

header {
  font-size: 3rem;
  padding: 20px;
  background-color: black; 
  display: flex;
  justify-content: center;
}

.game_wrapper {
  width: 800px; 
  margin: auto;
}

.game_h3 {
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
}