// styles.scss
@import 'variables';
@import "text/neon";

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  background: rgb(0, 0, 0);
  margin: 0;
  
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 4rem;
  padding: 20px;
  background-color: black; 
  display: flex;
  justify-content: center;
}

.main {
  margin: 20px;
}

// MUI component bug fix when using htmlFontSize overide
.MuiOutlinedInput-notchedOutline legend {
  font-size: 0.75em;
}
